<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <!-- General Properties -->
    <property name="localeLanguage" value="en"/>
    <property name="fileExtensions" value="java"/>

    <!-- File Header -->
    <module name="Header">
        <property name="fileExtensions" value="java"/>
    </module>

    <!-- Java Code Style Checks -->
    <module name="TreeWalker">

        <!-- Import Checks -->
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>

        <!-- Variable Checks -->
        <module name="RedundantModifier"/>
        <!-- Removed UnusedLocalVariable: not a standard Checkstyle module -->

        <!-- Class/Method Structure -->
        <module name="DeclarationOrder"/>
        <module name="ModifierOrder"/>
        <module name="MethodParamPad">
            <property name="option" value="nospace"/>
            <property name="allowLineBreaks" value="false"/>
        </module>

        <!-- Whitespace and Formatting -->
        <module name="GenericWhitespace"/>
        <module name="WhitespaceAround"/>
        <module name="WhitespaceAfter"/>
        <module name="TypecastParenPad"/>
        <module name="OneStatementPerLine"/>
        <module name="EmptyStatement"/>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
            <property name="allowMultipleEmptyLines" value="false"/>
            <property name="tokens" value="IMPORT, CLASS_DEF, INTERFACE_DEF, ENUM_DEF, STATIC_INIT, INSTANCE_INIT, METHOD_DEF, CTOR_DEF, VARIABLE_DEF"/>
        </module>

        <!-- Curly Braces -->
        <module name="LeftCurly">
            <property name="option" value="eol"/>
        </module>
        <module name="RightCurly">
            <property name="option" value="same"/>
        </module>

        <!-- Miscellaneous -->
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation"/>
        <module name="PackageAnnotation"/>
        <module name="CovariantEquals"/>
        <module name="ModifiedControlVariable"/>
        <module name="DefaultComesLast"/>

    </module>

    <!-- Regular Expression Checks -->
    <module name="RegexpMultiline">
        <property name="format" value="\S\z"/>
        <property name="message" value="Expected new line at the end of file"/>
    </module>
    <module name="RegexpMultiline">
        <property name="format" value="\S((\r\n\r\n)|(\r\r)|(\n\n)|(\n\r\n\r))\z"/>
        <property name="message" value="Only single empty line can be placed at the end of file"/>
    </module>
    <module name="RegexpMultiline">
        <property name="format" value="^[{]([ \t]*((\r\n)|(\n))[ \t]*){2,}}"/>
        <property name="message" value="Blank line before closing bracket"/>
    </module>
    <module name="RegexpMultiline">
        <property name="format" value="\[(((\n)|(\r\n))[\t]*){2,}[^\t*\}]"/>
        <property name="message" value="Blank line after opening bracket"/>
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="message" value="White spaces at the end of line"/>
    </module>

</module>
